---
- name: install tomcat and deploy the application
  hosts: Deploy
  become: yes
  tasks:
    - name: copying file to tomcat server
      copy:
        src: /var/lib/jenkins/workspace/Pipeline/com/hello/HelloWorld/0.0.1-SNAPSHOT/HelloWorld-0.0.1-{{ version }}.jar
        dest: /opt/tomcat/latest/webapps
        remote_src: true
      notify:
       - reload the daemon, enable and start the tomcat service